.page-container {
    padding: 15px; 
    display: flex;
    flex-direction: column; /* Make the container flex column */
    align-items: center; 
}
.profile-container {
    display: flex;
    flex: 1;
    width: 100%; /* Ensure the profile container takes full width */
    max-width: 800px; /* Set maximum width for better readability */
    margin-bottom: 20px; /* Add some spacing between profile and reviews */
}

.left-column {
    width: 50%;
}
.right-column {
    width: 50%;
    padding-left: 20px;
}

.username-container {
    padding-top: 10px;
}
.group-container {
    align-items: center;
}
.user-header {
    display: inline-block; /* Use flexbox to align items */
    margin-right: 10px;
}

.title {
    margin-right: 10px; /* Add right margin to create space between title and button */
}

.username-follow-container{
    display: inline-block;
}

.follow-button {
    display: inline-block;
}

.editButton {
    display: inline-block;
    width: 12px;
    height: 12px;
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
}

#profilePic {
    border-radius: 50%;
    width: 200px; /* Make profile pic responsive */
    height: 200px;
    max-width: 200px; /* Set maximum width for better display */
    height: auto; /* Maintain aspect ratio */
}

.followers-container {
    display:inline-block;
    padding-right: 5px;
}

.following-container {
    display:inline-block;
    padding-left: 5px;
}

#editButton {
    width: 15px; 
    height: 15px; 
    margin-right: 10px; 
    display: inline-block; 
    cursor: button;
}

.title {
    display: inline-block;
    margin-right: 10px;
}

.reviews-container{
    padding: 20px;
    width: 100%; /* Take full width of page */
    max-width: 800px; /* Set maximum width for better readability */
}

.review-title{
    text-align: center;
}
.save-button{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 10px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 65px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: 40px;
    width: 10px;
    margin-left: 10px;
}
  
.save-button:hover {
color: #fff;
background-color: #616467;
}
.custom-button{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 10px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 100px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: 40px;
    width: 10px;
    margin-left: 45px;
    margin-top:10px;
}
  
.custom-button:hover {
color: #fff;
background-color: #616467;
}